<?php
    $orders = $this->getOrder();
?>

<div id="information" style="padding-left: 10%;">
    <?php if($orders): ?>
        <br>
        <hr style="width: 80%">
        <br>
        <?php if(isset($orders['errors'])): ?>
            <p><?php echo $orders['errors'][0]['text']; ?></p>
        <?php elseif($orders): ?>
            <h3><b><?php echo $this->__('Flight information') ?></b></h3>
            <?php foreach($orders['flights'] as $orders_element): ?>
                <p><b><?php echo $this->__('Flight number') ?>: </b><?php echo $orders_element['flightNumber']; ?>
                <p><b><?php echo $this->__('From') ?>: </b><?php echo $orders_element['departureAirport']; ?> <b><?php echo $this->__('Date') ?>: </b><?php echo $orders_element['departureDateTime']; ?></p>
                <p><b><?php echo $this->__('To') ?>: </b><?php echo $orders_element['arrivalAirport']; ?> <b><?php echo $this->__('Date') ?>: </b><?php echo $orders_element['arrivalDateTime']; ?></p>
                <br>
            <?php endforeach; ?>
            <hr style="width: 80%">
            <br>
            <h3><b><?php echo $this->__('Passenger summary') ?></b></h3>
            <p><b><?php echo $this->__('Adults') ?>: </b><?php echo $orders['passenger_summary']['adults']; ?></p>
            <p><b><?php echo $this->__('Children') ?>: </b><?php echo $orders['passenger_summary']['children']; ?></p>
            <p><b><?php echo $this->__('Infants') ?>: </b><?php echo $orders['passenger_summary']['infants']; ?></p>
        <?php endif; ?>
    <?php endif; ?>
</div>
