<form action="<?php echo $this->getUrl('wt_air/show/show'); ?>" id="reservation_form" method="GET">
    <div class="form-group">
        <label style="font-size: 15px; margin-right: 5px;" >
            <?php echo $this->__('Input booking reference ID') ?> :
        </label>
        <input class="required-entry" id="reference_id" name="reference_id" style="width: 160px;" type="text">
        <button class="button" type="submit" style="height: 32px; margin-top: -3px;">
            <?php echo $this->__('Show') ?>
        </button>
    </div>
</form>

<script type="text/javascript">

    let form_id = 'reservation_form',
        submit_btn = jQuery(`#reservation_form button`),
        form = new VarienForm(form_id, true);

    new Event.observe(form_id, 'submit', function (e) {
        e.stop();
        if (jQuery(`#reference_id`).val().length == 0) {
            jQuery('#information').hide();
        }
        if (form.validator.validate()) {
            jQuery.ajax({
                url: '<?php echo $this->getUrl("wt_air/show/show") ?>',
                method: 'GET',
                data: $(form_id).serialize(true),
                beforeSend: function () {
                    submit_btn.prop('disabled', true);
                },
                complete: function () {
                    submit_btn.prop('disabled', false);
                },
                success: function (data) {
                    jQuery('#information').replaceWith(data.information);
                }
            });
        }
    });
</script>
